2PC/WS-AT/WsatWebService1EAR/WsatWebService1.war/wsdl/WsatWebService1.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="WsatWebService1" targetNamespace="http://www.example.org/WsatWebService1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/WsatWebService1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/WsatWebService1/">
      <xsd:element name="op1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="op1Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="op1Request">
    <wsdl:part element="tns:op1" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="op1Response">
    <wsdl:part element="tns:op1Response" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="WsatWebService1">
    <wsdl:operation name="op1">
      <wsdl:input message="tns:op1Request"/>
      <wsdl:output message="tns:op1Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsatWebService1SOAP" type="tns:WsatWebService1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="op1">
      <soap:operation soapAction="http://www.example.org/WsatWebService1/op1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsatWebService1">
    <wsdl:port binding="tns:WsatWebService1SOAP" name="WsatWebService1SOAP">
      <soap:address location="http://localhost:65432/WsatWebService1/WsatWebService1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>